.custom-underline {
  height: 4px;
  width: 80px;
  background-color: #6c58f1;
}

.certification-card {
  background: linear-gradient(225deg, #030712, #161d4e);
  border-radius: 12px;
  border: 2px solid #4a5568;
  transition: all 0.3s ease;
  overflow: hidden;
}

.certification-card:hover {
  border-color: #6c58f1;
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(108, 88, 241, 0.2);
}

.certification-card .card-body {
  padding: 1.5rem;
}

.icon-wrapper {
  width: 40px;
  height: 40px;
  background: rgba(108, 88, 241, 0.1) !important;
}

.card-title {
  color: #ffffff;
  font-size: 1.1rem;
}

.card-text {
  color: #9398a1 !important;
}
