.glow-circle {
  position: absolute;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  filter: blur(60px);
  opacity: 0.2;
  z-index: -1;
}

.top-25 {
  top: 25%;
}

.start-25 {
  left: 25%;
}

.bottom-33 {
  bottom: 33%;
}

.end-25 {
  right: 25%;
}

.gradient-text {
  background: linear-gradient(to right, #6c58f1, #5867ee);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cursor-pointer {
  cursor: pointer;
}

.animate-fade-in {
  animation: fadeIn 1s ease-in both;
}

.delay-300 {
  animation-delay: 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-bounce-subtle {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.project-box {
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #6c58f1, #5867ee);
}

.contact-box {
  border-radius: 5px;
  border: 1px solid #6c58f1;
  color: #6c58f1;
}

.hero-photo-wrapper {
  margin-top: 2rem;
  width: 20rem;
  height: 20rem;
  perspective: 1000px;
  transition: transform 0.3s ease;
  border-radius: 50%;
  box-shadow: 0 0 40px rgba(100, 100, 255, 0.3);
}

.hero-photo-border {
  width: 100%;
  height: 100%;
  padding: 10px; /* Space between glow ring and photo */
  border-radius: 50%;
  background: radial-gradient(circle at center, #030711, transparent);
  box-shadow: 0 0 30px #4772e8;
  transition: box-shadow 0.4s ease;
}

.hero-photo-wrapper:hover .hero-photo-border {
  box-shadow: 0 0 50px white, 0 0 10px rgba(255, 255, 255, 0.4);
}

.hero-photo-inner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  animation: scaleIn 1s ease-in-out forwards;
}

.hero-photo-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Entry animation */
@keyframes scaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
